* {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  .clearfix {
    float: none;
    clear: both;
  }
  body {
    background: url("../img/fondo.jpg");
    background-attachment: fixed;
  }
  #global {
    width: 65%;
    margin: 0px auto;
    padding: 30px;
    background: white;
    box-shadow: 0px 0px 0px 1px gray;
  }
  #logo {
    font-family: Verdana, Arial;
    font-size: 30px;
    letter-spacing: 4px;
    line-height: 80px;
    background: red;
    color: white;
    text-align: center;
    width: 450px;
    height: 80px;
    margin-bottom: 20px;
    float: left;
    text-transform: uppercase;
  }
  #menu {
    font-family: Helvetica, Arial;
    background: black;
    color: white;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
  }
  #menu ul {
    display: flex;
    line-height: 46px;
    list-style: none;
  }
  #menu ul li {
    height: 46px;
    display: inline-block;
    transition: all 300ms;
  }
  #menu ul li:hover {
    background: #15178b;
  }
  #menu ul li a {
    margin-left: 3rem;
    margin-right: 3rem;
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
  }
  #posts {
    width: 60%;
    float: left;
    font-family: Helvetica, Arial;
  }
  .post {
    padding: 5px;
  }
  .post .date {
    display: block;
    color: gray;
    margin-top: 10px;
  }
  .post h2 {
    margin-top: 20px;
    font-size: 30px;
    color: #333;
  }
  .post .date {
    display: block;
    color: gray;
    margin-top: 10;
  }
  .post p {
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 20px;
  }
  .button-more {
    font-size: 15px;
    text-align: center;
    padding: 15px;
    background: #15178b;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 70px;
  }
  #sidebar {
    font-family: Helvetica, Arial;
    width: 30%;
    float: right;
  }
  #sidebar h4 {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 10px;
    color: #333;
  }
  #sidebar img {
    width: 100%;
  }
  #sidebar p {
    text-align: justify;
  }